

body{
   
    font-size: 20px;
    margin: 100px;
 
    background-image: url("t.jpg");
    background-repeat : no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    }
    
    
    .button, button, input[type='button'], input[type='reset'], input[type='submit'] {
      background-color: #712113;
      border: 0.1rem solid #000000;
       color: #712113;
      border-radius: 0.4rem;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 1.1rem;
      font-weight: 700;
      height: 3.8rem;
      letter-spacing: .1rem;
      line-height: 3.8rem;
      padding: 0 3rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
    }
    .button, button, input[type='button'], input[type='text']{
      border: solid hsla(0, 83%, 5%, 0.822);
    }
    
    h1 {
         color: rgb(16, 2, 24);
        padding-top: 40px;
    }
